<div class="container">
  <div class="row mt-3 g-3 mb-3">
    <div class="col-md-6 col-sm-12">
      <h2>Source Data</h2>
      <div class="d-flex flex-fill border">
        <div class="line-numbers" #lineNumbers></div>
        <div class="input-area">
          <textarea #inputArea [(ngModel)]="srcData" (scroll)="onScroll()" (paste)="onKey()" (input)="onKey()" rows="12"
            class="h-100 w-100 input-area"></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <h2>Resulting Data</h2>
      <textarea [(ngModel)]="dstData" rows="12" class="form-control"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button class="btn-primary me-3" (click)="convertToJSON()">
        Convert to JSON
      </button>
      <button class="btn-primary me-3" (click)="convertToXML()">
        Convert to XML
      </button>
    </div>
  </div>
</div>
<router-outlet />